{#
This is the base template used as the application layout which contains the
common elements and decorates all the other templates.
See https://symfony.com/doc/current/templates.html#template-inheritance-and-layouts
#}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Symfony Demo application{% endblock %}</title>

    {#
    Those two blocks defines frontend entrypoint for CSS and JavaScript assets
    See https://symfony.com/doc/current/frontend.html
    #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>

<body id="{% block body_id %}{% endblock %}">

{% block header %}
    <header>
        <div class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header col-md-3 col-lg-2">
                    <a class="navbar-brand" href="{{ path('fruit_index') }}">
                        Fruit Test
                    </a>

                    <button type="button" class="navbar-toggle"
                            data-toggle="collapse"
                            data-target=".navbar-collapse">
                        <span class="sr-only">{{ 'menu.toggle_nav'|trans }}</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">

                        <li>
                            <a href="{{ path('fruit_favorite') }}"> <i class="fa fa-heart"></i> Favorite</a>
                        </li>

                        {% if app.user %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" id="user">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <span class="caret"></span>
                                    <span class="sr-only">{{ app.user.fullname }}</span>
                                </a>
                                <ul class="dropdown-menu user" role="menu" aria-labelledby="user">
                                    <li>
                                        <a href="{{ path('user_edit') }}">
                                            <i class="fa fa-edit" aria-hidden="true"></i> {{ 'menu.user'|trans }}
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="{{ logout_path() }}">
                                            <i class="fa fa-sign-out" aria-hidden="true"></i> {{ 'menu.logout'|trans }}
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

<div class="container body-container">
    {% block body %}
        <div class="row">
            <div id="main" class="col-sm-12">
                {{ include('default/_flash_messages.html.twig') }}

                {% block main %}{% endblock %}
            </div>
        </div>
    {% endblock %}
</div>

{% block footer %}
    <footer>
        <div class="container">
            <div class="row">
                <div id="footer-copyright" class="col-md-6">
                    <p>&copy; {{ 'now'|date('Y') }} - Viacheslav Shatan</p>
                    <p>{{ 'mit_license'|trans }}</p>
                </div>
                <div id="footer-resources" class="col-md-6">
                    <p>
                        <a href="https://viacheslav-shatan.webflow.io/" title="Viacheslav Shatan Portfolio" target="_blank">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </a>
                        <a href="https://github.com/sha02viacheslav" title="Viacheslav Shatan GitHub" target="_blank">
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

{# it's not mandatory to set the timezone in localizeddate(). This is done to
           avoid errors when the 'intl' PHP extension is not available and the application
           is forced to use the limited "intl polyfill", which only supports UTC and GMT #}
<!-- Page rendered on {{ 'now'|format_datetime('long', 'long', '', 'UTC') }} -->
</body>
</html>
